*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;

    outline: 0;
}
body{
    background-color: #328e8e;
    color: #fff;
}

.msg{
    color: green;
    background-color: yellow;

    display: none;

    text-align: center;
    padding: 10px;
}

.container{

    max-width: 1080px;

    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.container h1{
    text-align: center;
}
.task-list{
    
    margin: 10px 0;
}

input,
.task-item,
.task-detail-mask,
.task-detail,
textarea,
button{

    padding: 10px;
    border-radius: 3px;
}

textarea,
button,
input[type=text],
input[type=date]
{

    border: 0;
}

textarea,
input[type=text],
input[type=date]{

    width: 100%;

    /*border: 0;*/
    background-color: #eee;
}

textarea{
    min-height: 100px;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=date]:hover,
input[type=date]:focus{

    background-color: #fff;
}


button{

    display: inline-block;

    /*border: 0;*/

    cursor: pointer;
}

.add-task input[type=text]{

    float: left;

    width: 84%;
    margin-right: 1%;
}
button.primary,
[type=submit]{

    background-color: #adc;
}

.add-task button[type=submit]{

    width: 15%;

    /*background-color: #adc;*/
}

.add-task button[type=submit],
.task-item{

    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.add-task button[type=submit]:hover{

    color: #fff;
    background-color: #37c596;
}

.task-item{
    background-color: #fff;
    color: #333;

    margin-bottom: 2px;

    cursor: pointer;
}
.task-item:hover{
    background-color: #ddd;
}

.task-detail-mask,
.task-detail{

    display: none;

    position: absolute;
}

.task-detail{

    width: 50%;
    height: 100%;
    min-height: 300px;

    background-color: #fff;
    color: #333;

    padding: 10px;
    top: 50px;
    right: 0;

    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
}

.task-detail .content{
    
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}

.task-detail .input-item{

    margin-bottom: 10px;
}

.input-item  label{
    font-size: 130%;
}

.task-detail-mask{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    /*background-color: rgba(30, 30, 30, .6);*/
}

.task-content{

    margin-left: 10px;
}

.fr{
    float: right;
}

.action{

    color: #888;
    font-size: 80%;
}

.action:hover{
    color: #333;
}


.task-item.completed{

    color: #aaa;
    /*background-color: rgba(255, 255, 255, .7);*/
    opacity: .5;
}
.task-item.completed:after{
    content: "";
    width: 96%;
    height: 1px;
    background-color: #aaa;

    display: block;
    float: right;
    position: relative;
    top: -8px;
}

.msg-alert{
    width: 0;
    height: 0;
    /*opacity: 0;*/
}














